
body{
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.descrip{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
  
   
  margin-top: 50px;
}
.descrip img{
    margin-left: 100px;
}
.descrip2{
    display: flex;
    flex-direction: column;

  margin-right: 100px;
    width: 50%;
}   

button {
    background-color: #3483fa;
    border-radius: 10px;
    box-shadow: #fff 0 0 0 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    height: 38px;
    line-height: 38px;
    margin-top: 10px;
    text-align: center;
    transition: box-shadow 0.25s ease-out, background-color 0.2s ease-out;
    width: 25%;
    margin-left: 150px;
    margin-bottom: 10px;
}

button:hover {
    background-color: royalblue;
}

.pagos{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.footer{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: row;

} 
.newsletter{
width: 300px;
padding: 30px;
}
.donde-estamos{
    font-size: 12px;
}