*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}

.header-container{
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
}

.BarraBusqueda{
    width: auto;
    margin-left: 50px;
    border-radius: 5px;
    border: 1px solid #39c;
 
    
}

.fa-search{
color: black;

}
input{
    width: 250px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;

}


.fa-sign-in-alt{
    color: black;
 
}
.fa-user{
    color: black;
   
  
}
.fa-shopping-cart{
    color: black;
  
  
}
.login{
    margin-left: 40px;
    font-size: 12px;
}
.registro{
    margin-left: 40px;
    font-size: 12px;
    margin-top: 5px;
}
.icono-carrito{
 margin-left: 20px;
 border: 1px solid #39c;
 border-radius: 5px;
 text-align: center;
 width: 25px;

}
.fa-shopping-cart{
   margin-top: 5px;
}
.main-container{
   display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center; 
}
ul{
   
    list-style: none;
    width: 100%;

}


.nav li a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
   

}
.nav li a:hover{
    background-color: #434343;
    text-align: left;
}

.nav li ul{
    display: none;
    position: absolute;
 

}
.nav > li{

    
    float: left;
    width: 150px;
    margin-left: 15px;
    text-align: center;
}
.nav li:hover > ul{
    display: block;
    
}
.mas{

    width: 150px;
   }

#carrusel-container{
    border: 5px solid black;
    height: 200px;
    overflow: hidden; 
    width: 100%;
    margin-top: 80px;
}

.carrusel{
    border: 1px solid black;
    height: 200px;
    width: 100%;
    position: relative;
   
}


.carrusel img{
    width: 100%;
    height: 100%;
}
.img-carrusel{
    
    height: 100%;
}
.flecha-carrusel{
    height: 100%;
    position: absolute;
    top:0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px;
}
a{
    text-decoration: none;
}
i{
    color: black;
}
#puntos-container{
    
    display: flex;
    justify-content:space-around;
    width: 200px;;
}

#puntos-container > a{
    font-size: 25px;
     }

.productos-ofertas1{
    display: flex;
    justify-content:space-between;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px;   
    padding: 10px;   
}
.productos-ofertas2{
    display: flex;
    justify-content:space-between;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5px;   
    padding: 10px; 
    
}

.acer{
    border: 5px solid rgb(66, 63, 63);
    border-radius: 10px;
    width: 150px;
    text-align: center;
    font-size: 12px;
    
}
.asus{
    border: 5px solid rgb(66, 63, 63);
    border-radius: 10px;
    width: 150px;
    text-align: center;
    font-size: 12px;
}

.hp{
    border: 5px solid rgb(66, 63, 63);
    border-radius: 10px;
    width: 150px;
    text-align: center;
    font-size: 12px;
}
.msi{
    border: 5px solid rgb(66, 63, 63);
    border-radius: 10px;
    width: 150px;
    text-align: center;
    font-size: 12px;

}
.dell{
    border: 5px solid rgb(66, 63, 63);
    border-radius: 10px;
    width: 150px;
    text-align: center;
    font-size: 12px;
}

.lenovo{
    border: 5px solid rgb(66, 63, 63);
    border-radius: 10px;
    width: 150px;
    text-align: center;
    font-size: 12px;
}
.marcas{
    display: flex;
    justify-content:space-around;
    margin-top: 30px;
}
.marcas > img{
    width: 100px;
    height: 100px;
}
.footer{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: row;

} 
.newsletter{
width: 300px;
padding: 30px;
}
.donde-estamos{
    font-size: 12px;
}
/* 
.registromanual{
    border: 1px gray solid;
    border-radius: 5px;
        border: 1px gray solid;
        border-radius: 5px;
        position: absolute;
        transform: translate(50px, 50px);
}
.registro-google-facebook{
    
    border: 1px gray solid;
    border-radius: 5px;
    position: absolute;
    transform: translate(50px, 10px);
}
.controls{
    background-color: #FBF9F4;
    border: 1px #F2F2EF solid;
    font-size: 12px;
} */
/*  */
.cuenta{
    display: flex;
    align-items: flex-start;
    flex-direction: column;


     }
.registromanual{
        border: 1px gray solid;
        border-radius: 5px;
        border: 1px gray solid;
        border-radius: 5px;
        position: relative;
        transform: translate(50px, 50px);
}
.registro-google-facebook{

    border: 1px gray solid;
    border-radius: 5px;
    position: relative;
    transform: translate(50px, 10px);

}
.controls{
    background-color: #FBF9F4;
    border: 1px #F2F2EF solid;
    font-size: 12px;
}
.fa-google{
    margin-left: 50px;
}
.producto-carrito{
    border: 1px rgb(148, 141, 141) solid;
    display: flex;
    justify-content: space-around;
}
.total{
    text-align: right;
    
}
.seguir-comprando{
   
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    
   
}
.envio{
    display: flex;
    justify-content:flex-end
}
.retiro{
    display: flex;
    justify-content:flex-end
}
.cupon{
    display: flex;
    justify-content:flex-end
}
.finalizar{
    display: flex;
    justify-content:center;
}

button {
    background-color: #3483fa;
    border-radius: 10px;
    box-shadow: #fff 0 0 0 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    height: 38px;
    line-height: 38px;
    margin-top: 10px;
    text-align: center;
    transition: box-shadow 0.25s ease-out, background-color 0.2s ease-out;
    width: 25%;
    margin-left: 150px;
    margin-bottom: 10px;
}

button:hover {
    background-color: royalblue;
}
