<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/3b6e9de62a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>FontTech</title>
</head>
<body>
    <header>
        <div class="contenedor">
            <img src="../img/Logo.png" alt="" >         
            <input type="checkbox" id="menu-bar">
            <label class="fas fa-bars" for="menu-bar"></label>
             
            <nav class="menu">
                <a href="">Productos</a>
                <a href="">Sucursales</a>
                <a href="">Contacto</a>
                <a href="">Empresa</a>
            </nav>
            <a href=""><i class="fas fa-shopping-cart"></i></a>
          
            <!-- INICIO POPUP LOGIN-->

            <a href="#modal"><i class="fas fa-user"></i></a>
            <div class="container-all" id="modal">
        
                <div class="popup">
                   
                    <div class="contenedor-text">


                        <div id="social-login">
                            <h1>Iniciar Sesión con...</h1>
                            </div>
                           <div id="social">
                            <div class="social-login-elemento">
                                <img src="../img/google.svg" alt="">
                                <span>Google</span>                         
                                <img src="../img/facebook.svg" alt="">
                                <span>Facebook</span>
                            </div>
                        </div>
                        
                        <div id="formulario">
                        <form class="inputs-container">
                            <p>O</p>
                            <input class="input" type="email" placeholder="E-mail">
                            <input class="input" type="password" placeholder="Contaseña">
                            <button class="btn">login</button>

                            <p>¿Olvidaste tu contraseña? <button class="btn">Hace click aca</p> </button>
                               
                            <p>¿Aún no tenes cuenta? <button class="btn">Crea tu cuenta</p></button>
                        </form>
                    </div>                                                  

                    </div>
                    
                    <a href="#" class="btn-close-popup">X</a>
                </div>
            </div>
        
          <!--   FIN POPUP -->
    
        
    </header>
   <main>
        <div id="slider">
            <figure>
                <img src="../img/banner.jpg">
                <img src="../img/DGHelp_Banner_HP-01-1.jpg">
                <img src="../img/banner.jpg">
                <img src="../img/DGHelp_Banner_Lenovo-01-3.jpg">
                <img src="../img/banner.jpg">
            </figure>
        </div>   
     
       <h1 class="title">PRODUCTOS EN OFERTA</h1>
       <div class="container">
       
        <div class="card">
            <img src="../img/not acer.png">
            <h4>Acer TravelMate</h4>
            <p>$98.900,00</p>
            <a href="#">Mas Info...</a><a href=""><i class="fas fa-cart-arrow-down"></i></a> 
        </div>
        
        <div class="card">
            <img src="../img/not dell.png">
            <h4>Dell Minsk DNS</h4>
            <p>$119.999,00</p>
            <a href="#">Mas Info...</a><a href=""><i class="fas fa-cart-arrow-down"></i></a> 
        </div>
        
        <div class="card">
            <img src="../img/not msi.png">
            <h4>MSI Skylake</h4>
            <p>$145.000,00</p>
            <a href="#">Mas Info...</a><a href=""><i class="fas fa-cart-arrow-down"></i></a> 
        </div>

        <div class="card">
            <img src="../img/not asus.png">
            <h4>Asus VivoBook X515EA</h4>
            <p>$114,799,00</p>
            <a href="#">Mas Info...</a><a href=""><i class="fas fa-cart-arrow-down"></i></a> 
        </div>

        <div class="card">
            <img src="../img/not lenovo.png">
            <h4>Lenovo V510</h4>
            <p>$85.499,00</p>
            <a href="#">Mas Info...</a><a href=""><i class="fas fa-cart-arrow-down"></i></a> 
        </div>

        <div class="card">
            <img src="../img/not hp.png">
            <h4>HP 15-DY2056MS</h4>
            <p>$135.000,00</p>
            <a href="#">Mas Info...</a><a href=""><i class="fas fa-cart-arrow-down"></i></a> 
        </div>
        
        
        <section id="productos">
            <div class="contenedor">
                <img src="../img/logo/acer.png" alt="">
                <img src="../img/logo/asus.png" alt="">
                <img src="../img/logo/dell.png" alt="">
                <img src="../img/logo/hp.png" alt="">
                <img src="../img/logo/lenovo.png" alt="">
                <img src="../img/logo/Msi-Logo.jpg" alt="">
            </div>
        </section>
 

    <footer>
        <div class="contenedor">
                <div class="direccion">
                <h5>¿DÓNDE ESTAMOS?</h5>
                <p><b>Corrientes Capital</b><br>Junin 1648 -CORRIENTES CAPITAL-<br>
                    <p>Teléfono: 3624720453</p> 
                    </p>
                    <br>
                <p><b>Resistencia -Casa Central-</b><br>santiago del estero 414 -Resistencia -Chaco<br>
                    <p>Teléfono: 3624661814 </p>
                   </p>
                    <br>
                <p><b>Resistencia -MA</b><br>San Buenaventura del Monte Alto 187<br>
                    <p>Teléfono: 3624720452</p>  
                    </p>
                </div>
                
        <div class="newsletter"> 
            <h5 >NEWSLETTER</h5>
            <p >Recibí ofertas en tu email</p>
            <form action="/registro" method="post">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre">
                <br>
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email">
                <br>
                <button type="submint"> Suscribirse </button>
            </form>
        </div>
    </footer> 
</main>
</body>
</html>
   



























































<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>FontTech</title>
</head>

<body>
    <header class="header-container">
        <div class="Logo"></div>
        <img src="../images/Logo.png" alt="" width="25%" >
      
        <div class="BarraBusqueda">
            <input type="text" name="" placeholder="Buscar...">
            <a href="">
                <i class="fas fa-search"></i>
            </a>
        </div>
        <div>
           
           <div class="login"><a href="/login"><i class="fas fa-sign-in-alt"> Iniciar sesión</i></a>  </div>
         
           <div class="registro"><a href="/registro"><i class="fas fa-user"> Crea tu cuenta</i></a> </div>
        </div>
        <div class=icono-carrito>
            <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
        </div>

   
    

    <main class="main-container">
        <div class="seccion1">
             <ul class=nav>
                
                <li> <a href="">Productos</a>
                    <ul class="mas">
                        <li><a href="">PC</a></li>
                        <li><a href="">Notebook</a></li>
                        <li><a href="">Tablet</a></li>
                        
                    </ul>
                </li>
                <li> <a href="">Sucursales</a> </li>
                <li> <a href="">Contacto</a></li>
                <li> <a href="">Empresa</a></li> 
             </ul>
        </div>
    </header>
        <div id="carrusel-container">

        <div class="carrusel" id="carrusel1">
            <div class="img-carrusel" id="img1">
                <img src="../images/banner1.jpg" alt="">
            </div>
            <div class="flecha-carrusel">
                <a href="#carrusel3">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <a href="#carrusel2">
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>

        <div class="carrusel" id="carrusel2">
            <div class="img-carrusel"id="img2">
                <img src="../images/banner2.jpg" alt="">
            </div>
            <div class="flecha-carrusel">
                <a href="#carrusel1">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <a href="#carrusel3">
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>

        <div class="carrusel" id="carrusel3">
            <div class="img-carrusel" id="img3">
                <img src="../images/banner3.jpg" alt="">
            </div>
            <div class="flecha-carrusel">
                <a href="#carrusel2">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <a href="#carrusel1">
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>

        </div>
        <div id="puntos-container" >
            <a href="#carrusel1">○</a>
            <a href="#carrusel2">○</a>
            <a href="#carrusel3">○</a>
        </div>

     <div class="productos-ofertas1">
        <div class="acer"><img src="../images/acer/notebook-acer-asp3-i3-8g-s240-acer_aspire_3_a315-56-2_1.jpg" alt="" width="100px" height="100px">
            <p>ACER ASPIRE3</p> 
            <p>Disco 1 Tb</p>
            <p>Memoria 8GB</p>
            <p>Procesador Core i3</p>
            <p>$86373,44</p>
            <br>
            <a href=""><i class="fas fa-cart-plus">Agregar al carrito</i></a>
            <br>
            <a href="/producto"><i class="fas fa-eye"></i></a>
            <a href=""></a>
                
        </div>    

        <div class="asus">
        <img src="../images/asus/asus1.jpg" alt=""width="100px" height="100px">
        <p>ASUS X515EA</p> 
            <p>Disco 250GB</p>
            <p>Memoria 20GB </p>
            <p>Procesador Core i5</p>
            <p>$ 127.566,25</p>
            <br>
            <a href=""><i class="fas fa-cart-plus">Agregar al carrito</i></a>
            <br>
            <a href="/producto"><i class="fas fa-eye"></i></a>
    </div>

    <div class="hp">
        <img src="../images/hp/HP1.jpg" alt=""width="100px" height="100px">

        <p>HP 250</p> 
            <p>Disco 1 Tb</p>
            <p>Memoria 16GB</p>
            <p>Procesador Core i5</p>
            <p>$ 117.425,00</p>
            <br>
            <a href=""><i class="fas fa-cart-plus">Agregar al carrito</i></a>
            <br>
            <a href="/producto"><i class="fas fa-eye"></i></a>
        </div>

    </div>

    <div class="productos-ofertas2">

    <div class="msi">
        <img src="../images/msi/MS1.png" alt=""width="100px" height="100px">
        <p>MSI GF75 Thin</p> 
            <p>Disco 1 Tb</p>
            <p>Memoria 16GB</p>
            <p>Procesador Core i7</p>
            <p>$ 318.115,00</p>
            <br>
            <a href=""><i class="fas fa-cart-plus">Agregar al carrito</i></a>
            <br>
            <a href="/producto"><i class="fas fa-eye"></i></a>
        </div>
        
     <div class="dell"> 
        <img src="../images/dell/dell1.jpg" alt=""width="100px" height="100px">
        <p>DELL Alienware X17</p> 
            <p>Disco 512GB</p>
            <p>Memoria 16GB</p>
            <p>Procesador Core i7</p>
            <p>$ 416.325,00</p>
            <br>
            <a href=""><i class="fas fa-cart-plus">Agregar al carrito</i></a>
            <br>
            <a href="/producto"><i class="fas fa-eye"></i></a>
        </div>
    <div class="lenovo">  
        <img src="../images/lenovo/Lenovo1.jpg" alt=""width="100px" height="100px">
        <p>Lenovo ThinkBook</p> 
        <p>Disco 256 GB</p>
        <p>Memoria 8GB</p>
        <p>Procesador Core i5</p>
        <p>$ 112.087,50</p>
        <br>
            <a href=""><i class="fas fa-cart-plus">Agregar al carrito</i></a>
            <br>
            <a href="/producto"><i class="fas fa-eye"></i></a>
    </div>
</div>

<div class="marcas">
   <img src="../images/acer/acer.png" alt="">
   <img src="../images/asus/asus.png" alt="">
   <img src="../images/dell/dell.png" alt="">
   <img src="../images/hp/hp.png" alt="">
   <img src="../images/lenovo/lenovo.png" alt="">
   <img src="../images/msi/Msi-Logo.jpg" alt="">
</div>

</main>
    <footer">
    <div class="footer">
        <div class="donde-estamos">
            <h5>¿DÓNDE ESTAMOS?</h5>
            <p><b>Corrientes Capital</b><br>Junin 1648 -CORRIENTES CAPITAL-<br>
                <p>Teléfono: 3624720453</p> 
                </p>
                <br>
            <p><b>Resistencia -Casa Central-</b><br>santiago del estero 414 -Resistencia -Chaco<br>
                <p>Teléfono: 3624661814 </p>
               </p>
                <br>
            <p><b>Resistencia -MA</b><br>San Buenaventura del Monte Alto 187<br>
                <p>Teléfono: 3624720452</p>  
                </p>
        </div>
        
        <div class="newsletter">
            <h5 >NEWSLETTER</h5>
            <p >Recibí ofertas en tu email</p>
            <form action="/registro" method="post">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email">
                <button type="submint"> Suscribirse </button>
            </form>
        </div>

    </div>
     </footer>
</body>
</html> -->