<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles-login.css">
    <title>FontTech - Login</title>
  
    
</head>

<body>
    <header>
        <div class = "header-container">
            <img class="logotipo" src="../images/Logo.png" alt="Logo de WaveRunners">
        </div>
    </header>

    <main class ="main-container">
        <section class = "sectionbody">
            <h3 class = "crear-cuenta">Iniciar Sesión</h3>
            <div class="social-login">
                <div class="social-elemento">
                    <img src="images/google.svg" alt="google-image" >
                    <span>Google</span>
                </div>
                <div class="social-elemento">
                    <img src="images/facebook.svg" alt="facebook-image">
                    <span>Facebook</span>
                </div>
            </div>
            <br>

            <p>O</p>
            <br>
            <form action="" method="POST">
                <div class="registro">
                    <div class ="mail">
                        <input class="mail" type="email" name="email" required placeholder="E-mail">
                    </div>
                    <div class="password">
                        <input class="password" type="password" name="password" required placeholder="Contraseña">
                    </div>
                    <br>
                    <div class="iniciar-boton">
                        <button class="boton" type="submit">Iniciar sesión</button>
                    </div>
                </div>
            </form>                     
                <div class = "olvido-contraseña">
                       <a href="">¿Olvidaste tu contraseña?</a>
                </div>
    </main>
</body>
</html>