<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-producto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>FontTech</title>
</head>

<body>
    <header class="header-container">
        <div class="Logo"></div>
        <img src="../images/Logo.png" alt="" width="25%" >
      
        <div class="BarraBusqueda">
            <input type="text" name="" placeholder="Buscar...">
            <a href="">
                <i class="fas fa-search"></i>
            </a>
        </div>
        <div>
           
           <div class="login"><a href="/login"><i class="fas fa-sign-in-alt"> Iniciar sesión</i></a>  </div>
         
           <div class="registro"><a href="/registro"><i class="fas fa-user"> Crea tu cuenta</i></a> </div>
        </div>
        <div class=icono-carrito>
            <a href=""><i class="fas fa-shopping-cart"></i></a>
        </div>

        
   
    </header>

    <main class="main-container">
        <div class="seccion1">
             <ul class=nav>
                <li> <a href="">Productos</a>
                    <ul class="mas">
                        <li><a href="">PC</a></li>
                        <li><a href="">Notebook</a></li>
                        <li><a href="">Tablet</a></li>
                        
                    </ul>
                </li>
                <li> <a href="">Sucursales</a> </li>
                <li> <a href="">Contacto</a></li>
                <li> <a href="">Empresa</a></li> 
             </ul>
        </div>
        
        <main>
            <div class="descrip">
        <div>
            <img src="../images/acer/notebook-acer-asp3-i3-8g-s240-acer_aspire_3_a315-56-2_1.jpg" alt="" width="40%" height="40%">
        </div>
        <div class="descrip2">
            <p><strong>NOT.ACER ASPIRE3 I3 8G S240</strong></p>
            <br>
            <h3>Descripción</h3>
            <br>
            <ul>
                <li>►Disco 1 Tb</li>
                <li>►Memoria 8 gb</li>
                <li>►Procesador Core i3</li>
                <br>
                <li> <strong>►$ 86373,44</strong> </li>
            </ul>
        </div>
    </div>
    
    
    <div class="pagos">
          
            <img src="../images/medios de pago.jpg" alt="" width="25%" height="25%">
        <button class="boton" type="submit">AGREGAR AL CARRITO</button>
    </div>

   
        </main>

    <footer">
    <div class="footer">
        <div class="donde-estamos">
            <h5>¿DÓNDE ESTAMOS?</h5>
            <p><b>Corrientes Capital</b><br>Junin 1648 -CORRIENTES CAPITAL-<br>
                <p>Teléfono: 3624720453</p> 
                </p>
                <br>
            <p><b>Resistencia -Casa Central-</b><br>santiago del estero 414 -Resistencia -Chaco<br>
                <p>Teléfono: 3624661814 </p>
               </p>
                <br>
            <p><b>Resistencia -MA</b><br>San Buenaventura del Monte Alto 187<br>
                <p>Teléfono: 3624720452</p>  
                </p>
        </div>
        <div></div>
        <div class="newsletter">
            <h5 >NEWSLETTER</h5>
            <p >Recibí ofertas en tu email</p>
            <form action="/registro" method="post">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email">
                <button type="submint"> Suscribirse </button>
            </form>
        </div>

    </div>
     </footer>
</body>
</html>